# ANSI mode examples

In [2]:
import os
import sys
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("demo").getOrCreate()

In [5]:
spark.conf.get("spark.sql.ansi.enabled")

'false'

In [3]:
rows = [
    ("a", 3), 
    ("b", 2147483647)
]
df = spark.createDataFrame(
    rows,
    ["id", "number"]
)

In [4]:
df.withColumn("number_plus_one", df.number + 1).show()

+---+----------+---------------+
| id|    number|number_plus_one|
+---+----------+---------------+
|  a|         3|              4|
|  b|2147483647|     2147483648|
+---+----------+---------------+

In [6]:
spark.sql("SELECT 2147483647 + 1;").show()

+----------------+
|(2147483647 + 1)|
+----------------+
|     -2147483648|
+----------------+

In [7]:
spark.conf.set("spark.sql.ansi.enabled", "true")

In [8]:
spark.sql("SELECT 2147483647 + 1;").show()

ArithmeticException: [ARITHMETIC_OVERFLOW] integer overflow. Use 'try_add' to tolerate overflow and return NULL instead. If necessary set "spark.sql.ansi.enabled" to "false" to bypass this error.
== SQL(line 1, position 8) ==
SELECT 2147483647 + 1;
       ^^^^^^^^^^^^^^