# Column default values

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/30 11:38:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark.version

'3.4.1'

In [4]:
spark.sql(
    """
CREATE TABLE my_table (
  first INT,
  second DATE DEFAULT CURRENT_DATE())
  USING PARQUET;
"""
)

DataFrame[]

In [7]:
spark.sql(
    """
INSERT INTO my_table VALUES
  (0, DEFAULT),
  (1, DEFAULT),
  (2, DATE '2020-12-31');
"""
)

DataFrame[]

In [9]:
spark.sql("SELECT * FROM my_table").show()

+-----+----------+
|first|    second|
+-----+----------+
|    2|2020-12-31|
|    0|2023-07-30|
|    1|2023-07-30|
+-----+----------+