# PySpark Pivot & Unpivot

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/07 10:19:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/07 10:19:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/08/07 10:19:38 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
23/08/07 10:19:38 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

## Example 1

In [11]:
actors = spark.createDataFrame(
    [
        ["Bruce", "Lee", "China"],
        ["Tom", "Hanks", "USA"],
        ["Diego", "Luna", "Mexico"],
        ["Samuel", "Jackson", "USA"],
    ],
    ["first_name", "last_name", "country"],
)

In [12]:
actors.show()

+----------+---------+-------+
|first_name|last_name|country|
+----------+---------+-------+
|     Bruce|      Lee|  China|
|       Tom|    Hanks|    USA|
|     Diego|     Luna| Mexico|
|    Samuel|  Jackson|    USA|
+----------+---------+-------+

In [13]:
countries = actors.groupBy("country").pivot("first_name").count().show()

+-------+-----+-----+------+----+
|country|Bruce|Diego|Samuel| Tom|
+-------+-----+-----+------+----+
|  China|    1| null|  null|null|
|    USA| null| null|     1|   1|
| Mexico| null|    1|  null|null|
+-------+-----+-----+------+----+

## Example 2

In [3]:
df = spark.createDataFrame(
    [
        ["x", "h", 1],
        ["x", "i", 2],
        ["x", "h", 3],
        ["y", "i", 4],
        ["y", "i", 1],
    ],
    ["a", "b", "c"],
)

In [5]:
df.show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  x|  h|  1|
|  x|  i|  2|
|  x|  h|  3|
|  y|  i|  4|
|  y|  i|  1|
+---+---+---+

In [6]:
pivoted = df.groupBy("a").pivot("b").sum("c")
pivoted.show()

+---+----+---+
|  a|   h|  i|
+---+----+---+
|  x|   4|  2|
|  y|null|  5|
+---+----+---+

In [7]:
pivoted.unpivot("a", ["h", "i"], "b", "c").show()

+---+---+----+
|  a|  b|   c|
+---+---+----+
|  x|  h|   4|
|  x|  i|   2|
|  y|  h|null|
|  y|  i|   5|
+---+---+----+