In [1]:
import pyspark.sql.functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.master("local").appName("examples").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/14 08:14:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/14 08:14:45 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = spark.createDataFrame(
    [
        (8, "Liam", 4),
        (9, "Colin", 15),
    ]
).toDF("id", "first_name", "age")

In [4]:
def with_life_stage2(df, col_name):
    col = F.col(col_name)
    return df.withColumn(
        "life_stage",
        F.when(col < 13, "child")
        .when(col.between(13, 19), "teenager")
        .when(col > 19, "adult"),
    )

In [7]:
df.transform(with_life_stage2, "age").show()

+---+----------+---+----------+
| id|first_name|age|life_stage|
+---+----------+---+----------+
|  8|      Liam|  4|     child|
|  9|     Colin| 15|  teenager|
+---+----------+---+----------+