# Timestamp without timezone

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/31 10:10:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/07/31 10:10:04 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark.sql(
    """
CREATE TABLE some_numbers (c1 INT, c2 TIMESTAMP_NTZ) USING PARQUET
;"""
)

DataFrame[]

In [4]:
spark.sql(
    """
INSERT INTO some_numbers VALUES
  (1, TIMESTAMP_NTZ'2016-01-01 10:11:12.123456'),
  (2, TIMESTAMP_NTZ'2018-06-12 10:11:12.123456')
;"""
)

DataFrame[]

In [8]:
spark.sql("SELECT * FROM some_numbers;").show(truncate=False)

+---+--------------------------+
|c1 |c2                        |
+---+--------------------------+
|1  |2016-01-01 10:11:12.123456|
|2  |2018-06-12 10:11:12.123456|
+---+--------------------------+

In [10]:
spark.sql("DESCRIBE some_numbers;").show()

+--------+-------------+-------+
|col_name|    data_type|comment|
+--------+-------------+-------+
|      c1|          int|   null|
|      c2|timestamp_ntz|   null|
+--------+-------------+-------+